<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/static/style/global.css">
    <link rel="stylesheet" href="/static/style/updt_user.css">
</head>
<body>
    <section class="update">
        <form action="/updt_user?id={{user.id}}" method="post">
            <label for="new_name">name</label>
            <input type="text" name="new_name" id="new_name">
            <label for="new_password">password</label>
            <input type="password" name="new_password" id="new_password">
            <input type="submit" value="submit">
        </form>
    </section>
   
</body>
</html>