<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- TO ERRANDO AQUI -->
    <!-- <form action="{{ url_for('update_user', id=user.id) }}"  method="post">
        <label for="new_name">Name:</label>
        <input type="text" name="new_name" id="new_name">
        <label for="new_password">Password:</label>
        <input type="password" name="new_password" id="new_password">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Atualizar">
    </form> -->
</body>
</html>